{{ghost_foot}}

<footer class="d-flex justify-content-center align-items-center flex-column goFront">
  <p>
    <span>&copy; Tooldata 2019</span>
    <i>|</i>
    <span>Todos los derechos reservados</span>
  </p>
  <p>
    Síguenos en
    <a target="_blank" href="https://www.facebook.com/tooldata/">
      <i  class="fab fa-facebook-f"></i>
    </a>
    <a target="_blank" href="https://twitter.com/tooldata_io">
      <i class="fab fa-twitter"></i>
    </a>
    <a target="_blank" href="https://www.linkedin.com/company/tooldata/">
      <i class="fab fa-instagram"></i>
    </a>
  </p>
</footer>

<a data-scroll href="#tooldata-home" class="goFront" id="go-top">
  <i class="fas fa-angle-up"></i>
</a>
