<form method="post" action="/subscribe/" id="newsletter">
  <input class="confirm" type="hidden" name="confirm">
  <input class="location" type="hidden" name="location" value="">
  <input class="referrer" type="hidden" name="referrer" value="">

  <div>
    <input type="email" name="email" placeholder="Correo Electrónico">
    <button type="submit">
      <i class="fas fa-pencil-alt"></i>
    </button>
  </div>
  <button type="submit" style="background-color: #24b1a1;border: 1px solid #24b1a1;border-radius: 5px;color: #fff;font-weight: 700;padding: 1rem 6rem;text-transform: uppercase;"> Subscribete
  </button>
  <p>
    Ingrese su correo electrónico para estar siempre informado
  </p>

  <script>
    (function (g, h, o, s, t) {
      var buster = function (b, m) {
        h[o]('input.' + b).forEach(function (i) {
          i.value = i.value || m;
        });
      };
      buster('location', g.location.href);
      buster('referrer', h.referrer);
    })(window, document, 'querySelectorAll', 'value');
  </script>
</form>
