{{!< default}}

{{> "header"}}

<div class="bg-light">
  <section class="d-flex flex-column justify-content-center align-items-center" id="tooldata-blog">
    <div class="col-12 col-md-11">
      <div class="row justify-content-center">

        {{#foreach posts}}

        {{> "post-card"}}

        {{/foreach}}

      </div>
    </div>
  </section>
</div>
